@charset "utf-8";
/* 윈도우 크기가 959px 이하 760px 이상일때 -> 최대 959 최소 760 */
@media all and (max-width: 959px) and (min-width: 760px){
    .top-btn{
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9999;
    }
    .top-btn svg{
        width: 70px;
    }
    #main_menu {

        line-height: 15px;
        text-align: center;
    
        
    
    }
    #main_menu .logo,
    #main_menu .logo svg{
        width: 60px;
    }
    .menu {
        font-family: 'Raleway', sans-serif;
        width: 15px;
        height: 15px;
        text-align: center;
        cursor: pointer;
        /* border: 1px solid snow; */
        margin-bottom: 30px;
        transition: 0.5s;
        color: transparent;
        border-radius: 30px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: 600;
    }
    .menu.active{
      background-color: rgba(0, 0, 0, 0.2);
        /* border: 1px solid #222; */
        color: transparent;
        font-weight: 600;
    }
    
    
    .menu.on {
    
        width: 20px;
        height: 8px;
        line-height: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    
    
    }


    .head-txt{
        font-size: 20px;
    }


    .left-copyright .txt-box{
        left: -100px;
    }
    .page:nth-child(2){
        padding: 0 75px;
    }
    .portfolio-logo svg{
        width: 40px;
    }

    .menu-box{
        right: 30px;
    }
    .main_text_box{
        font-size: 1.7rem;
        width: 600px;
    }
    .main_text_box 
    .blink {
        font-size: 1.7rem;
    }
    .main_text_box .text{
        width: 600px;
    }
    .sec2-wrap{
        width: 100%;
        height: 100%;
        padding: 60px 0;
    }
    .sec2-wrap .con-wrap .con-left{
        margin-bottom: 40px;
    }
    .sec2-wrap .con-wrap .con-left .my-Information .title{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .sec2-wrap .con-wrap .con-left .my-Information .title li{
        font-size: 14.5px;
    }
    .sec2-wrap .con-wrap{
        flex-direction: column;
    }
    .sec2-wrap .con-wrap .con-left .my-Information{
        width: 50%;
    }
    .sec2-wrap .con-wrap .con-right .right-txt{
        max-width: none;
        align-items: flex-end;
        height: 260px;
    }
    .sec2-wrap .con-wrap .con-right .right-txt h1{
        text-align: end;
        margin-bottom: 40px;
        font-size: 22px;
        max-width: 410px;
    }
    .sec2-wrap .con-wrap .con-right .right-txt .one{
        text-align: end;
        max-width: none;
        font-size: 13.5px;
    }
    .sec2-wrap .con-wrap .con-right .right-txt .two{
        text-align: end;
        max-width: 750px;
        font-size: 13.5px;
    }.sec2-wrap .con-wrap .con-right .right-txt .three{
        text-align: end;
        max-width: 450px;
        font-size: 13.5px;
    }

    .sec2-wrap .con-wrap .con-left .my-photo{
        margin-right: 60px;
        width: 220px;
        height: 282px;
    }

    .sec3-wrap{
        height: 100%;
    }
    .sec3-wrap .graph-wrap{
        height: none;
        margin-bottom: 0;
    }
    .sec3-wrap .graph-wrap .top-graph{
        margin-bottom: 0;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 500px;
    }
    .sec3-wrap .graph-wrap .top-graph .top-graph-tap{
        width: 500px;
        margin: 0 40px;
    }
    .sec3-wrap .graph-wrap .top-graph .top-graph-tap:first-child{
        margin-bottom: 40px;
    }
    .sec3-wrap .graph-wrap .top-graph .top-graph-wrap .second canvas{
        width: 100px;
    }
    .sec3-wrap .graph-wrap .bottom-graph{
        display: none;
    }
    .bottom-head-txt{
        display: none;
    }
    .sec3-wrap .graph-wrap .bottom-graph .bottom-graph-tap:first-child{
        margin-right: 0;
    }
    .sec3-wrap .graph-wrap .bottom-graph{
        flex-direction: column;
        width: 50%;
        align-items: center;
        margin-top: 60px;
    }
    .sec3-wrap .graph-wrap .bottom-graph .bottom-graph-tap:last-child{
        width: 300px;
    }
    .swiper-slide{
        flex-direction: column;
        max-height: 700px;
    }
    .btn-re.one{
        width: 100%;
    }
 
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right{
        width: 100%;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box{
        text-align: center;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box .data-box li{
        text-align: center;
        font-size: 14px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right{
        margin-left: 0;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.one .con-left svg{
        top: 100px;
        left: -40px;
        width: 200px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.one.genesis .con-left svg{
        top: 100px;
        left: -80px;
        width: 200px;
      }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.two .con-left svg{
        left: -30px;
        top: 100px;
        width: 200px;
    }.sec4-wrap .swiper .swiper-wrapper .swiper-slide.three .con-left svg{
        top: 100px;
        left: -40px;
        width: 200px;
    }.sec4-wrap .swiper .swiper-wrapper .swiper-slide.four .con-left svg{
        top: 100px;
        left: -40px;
        width: 200px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box{
        margin-top: 30px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box .header-txt h3{
        font-size: 20px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-left .con-img{
        width: 630px;
        height: 300px;
        overflow: hidden;
        border-radius: 20px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-left .con-img img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-left .con-img .con-img-hover.two{
        line-height: 300px;
        height: 300px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide .con-left .con-img .con-img-hover{
        line-height: 300px;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.four .con-left .con-img{
        width: 630px;
        margin: 0 auto;
    }
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.two .con-left .con-img,
    .sec4-wrap .swiper .swiper-wrapper .swiper-slide.three .con-left .con-img{
        width: 630px;
    }
    .centerer{
        padding:  60px;
    }
    .swiper-button-next{
        display: none;
    }
    .swiper-button-prev{
        display: none;
    }
    .btn-re.one,
    .btn-re.two,
    .btn-re.three,
    .btn-re.four{
        font-size: 14px;
    }
    .btn-or{
        font-size: 14px;
    }
    .swiper{
        height: 83vh;
        margin-top: 40px;
    }
    .swiper-slide{
        justify-content: space-between;
        padding: 0 40px;
    }
    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
        width: 90%;
    }
    .swiper-button-next{
        top: 600px;
        right: 40px;
    }
    
    .swiper-button-prev{
        top: 600px;
        left: 40px;
    }
    .menu-box{
        top: 35%;
    }

    .app-ui img{
        width: 250px;
        height: 542px;
        position: absolute;
        /* 부모의 왼쪽 상단에 달라붙게되는 속성(이미지가 포개어져서 하나로 보임) */
        transition: 0.5s;
        top: 0;
        left: 0;
        border-radius: 50px;
        
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide.three .con-left .app-ui{
        width: 250px;
      height: 445px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide.three .con-left .app-ui img{
      width: 250px;
      height: 445px;
      border-radius: 0 0 50px 50px
    }
    .app-ui{
      box-shadow: -50px 100px 60px rgba(0, 0, 0, 0.3);
      /* box-shadow: x축 y축 퍼짐정도 색상; */
      width: 250px;
        height: 542px;
    }
    
    
    .app-ui img:nth-child(1){
        transform: translate(60px, -60px);
        /* x축 y축 둘 다 설정 */
        opacity: 0.4;
    }
    
    .app-ui img:nth-child(2){
        transform: translate(120px, -120px);
        opacity: 0.6;
    }
    
    .app-ui img:nth-child(3){
        transform: translate(180px, -180px);
        opacity: 0,8;
    }
    
    .app-ui img:nth-child(4){
        transform: translate(240px, -240px);
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-backface-hidden .swiper-slide{
        display: flex;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-left{
        padding-top: 0;
        height: 430px;
        margin-right: 0;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide.three .con-left{
        padding-top: 60px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right{
        width: 50%;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box{
        text-align: start;
        /* float: right; */
        width: 600px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .centerer{
        width: 240px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .centerer .btns-wrap{
        float: left;
    }

    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .ui-logo svg{
        width: 600px;
        left: 200px;
    }

    .sec5-wrap .swiper-button-next{
        top: 700px;
    }
    .sec5-wrap .swiper-button-prev{
        top: 700px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box h3{
        font-size: 24px;
        margin-bottom: 40px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide.three .ui-logo svg{
        left: 200px;
    }
    .sec5-wrap .swiper-button-prev{
        top: 700px;
    }
    .sec5-wrap .swiper-button-next{
        top: 700px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box h3{
        font-size: 20px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box .data-box li{
        font-size: 13.5px;
    }
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box .data-box li:nth-child(4),
    .sec5-wrap .swiper .swiper-wrapper .swiper-slide .con-right .txt-box .data-box li:nth-child(5){
        display: none;
    }

    .sec6-wrap{
        padding: 80px 0;
    }
    .sec6-wrap .sec6-content-wrap #sec6-cursor-wrap .email-wrap .email-copy button{
        font-size: 30px
    }
  
    .sec6-wrap .sec6-content-wrap #sec6-cursor-wrap .email-wrap .animate-slider{
        align-items: center;
    }
    .sec6-wrap .sec6-content-wrap #sec6-cursor-wrap .email-wrap .email-copy button{
        width: 600px;
        letter-spacing: 0;
    }
    .sec6-wrap .sec6-content-wrap{
        height: 100%;
        padding-top: 150px;
    }
    .sec6-wrap .sec6-content-wrap .button{
        width: 150px;
        font-size: 14px;
    }
    .sec6-wrap .sec6-content-wrap .sec-6-center-wrap .qr-img{
        width: 150px;
    }
    .sec6-wrap .sec6-content-wrap .epilogue-txt h2{
        font-size: 40px;
    }
    .sec-6-footer{
        padding: 40px 0;
    }



    
} /* end */
